@import "../vendors/@progress/kendo-ui/2020.3.1118/css/kendo.common.min.css";
@import "../vendors/@progress/kendo-ui/2020.3.1118/css/kendo.bootstrap-v4.min.css";

.form-control.k-widget
{
    padding: 0;
    width: 100%;
    height: auto;
}

.form-control.k-widget:not(.k-autocomplete)
{
    border-width: 0;
}
.customer-photo {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
    }

    .customer-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }

    .k-grid tr .checkbox-align {
        text-align: center;
        vertical-align: middle;
    }

    .product-photo {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-right: 5px;
    }

    .product-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }

    .k-rating-container .k-rating-item {
        padding: 4px 0;
    }

    .k-rating-container .k-rating-item .k-icon {
        font-size: 16px;
    }

    .dropdown-country-wrap {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        white-space: nowrap;
    }

    .dropdown-country-wrap img {
        margin-right: 10px;
    }

    #companyGrid .k-grid-edit-row > td > .k-rating {
        margin-left: 0;
        width: 100%;
    }

    .k-grid .k-grid-search {
        margin-left: auto;
        margin-right: 0;
    }
    #calendar {
        margin: 0 auto;
    }
    .fc th, .fc td {
        border-style: dotted;
        border-width: 0.5px;
        padding: 0;
        vertical-align: top;
    }
    .fc-toolbar h2 {
        font-size: 1.00em;
        margin: 0;
    }

    .fc-button-primary:disabled {
        color: #fff;
        background-color: #321fdb;
        border-color: #2C3E50;
    }
    .fc-button-primary {
        color: #fff;
        background-color: #321fdb;
        border-color: #321fdb;
    }



    /*
    Increase the width of the edit form.
    The default one is 400px.
*/

.k-edit-form-container
{
    width: 900px;
}

/*
    Decrease the width of the edit form labels. The default one is 30%.
    The new width should depend on the column titles.
    Switch the text alignment to the left. By default, it is to the right.
*/

.k-popup-edit-form .k-edit-label
{
    width: 20%;
    text-align: left;
}

/*
    Increase the width of the textbox containers. The default one is 60%.
    The sum of label and editor percentage widths should be around 90%, to make up for existing paddings.
*/
.k-popup-edit-form .k-edit-field
{
    width: 50%;
}

/*
    Expand the edit textboxes and any other Kendo UI widgets.
    In case of unexpected side effects, use widget-specific classes, instead of .k-widget.
*/
.k-popup-edit-form .k-edit-field > .k-textbox,
.k-popup-edit-form .k-edit-field > .k-widget:not(.k-tooltip)
{
    width: 98%;
}
